// *******************************************************************************
// * Background
.ui-bg-cover {
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-size: cover;
}

.ui-bg-fixed {
  background-attachment: fixed;
}

.ui-bg-overlay-container,
.ui-bg-video-container {
  position: relative;

  > * {
    position: relative;
  }
}

.ui-bg-overlay-container .ui-bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.ui-bg-video-container .ui-bg-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;

  video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
  }
}

.text-tiny {
  font-size: $tiny-font-size !important;
}

.text-big {
  font-size: $big-font-size !important;
}

.text-large {
  font-size: $large-font-size !important;
}

.text-xlarge {
  font-size: $xlarge-font-size !important;
}

.text-lighter {
  color: $text-lighter !important;

  &[href] {
    @include hover-focus {
      color: $text-muted-hover !important;
    }
  }
}

.ui-w-140 {
  width: 140px !important;
  height: auto;
}

.ui-w-120 {
  width: 120px !important;
  height: auto;
}

.ui-w-100 {
  width: 100px !important;
  height: auto;
}

.ui-w-80 {
  width: 80px !important;
  height: auto;
}

.ui-w-60 {
  width: 60px !important;
  height: auto;
}

.ui-w-50 {
  width: 50px !important;
  height: auto;
}

.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.ui-w-30 {
  width: 30px !important;
  height: auto;
}

.ui-w-20 {
  width: 20px !important;
  height: auto;
}

.ui-mh-100vh {
  min-height: 100vh;
}

.font-weight-light {
  font-weight: $font-weight-light !important;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold !important;
}

.font-weight-bolder {
  font-weight: $font-weight-bolder !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-transform-none {
  text-transform: none !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-condenced {
  line-height: 1.3 !important;
}

.line-height-inherit {
  line-height: inherit !important;
}
