[class^="el-icon-yto"], [class*=" el-icon-yto"] {
  font-family: "iconfont" !important;

  /* 以下内容参照第三方图标库本身的规则 */
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "//at.alicdn.com/t/font_804489_8hupty5p7d5.css";
